@charset 'utf-8';

.banner{margin:50px 0;overflow:hidden;}
.bx-wrapper{box-shadow:none;border:none;margin-bottom:0;}
.bx-wrapper .bx-pager{display:none;}
.bx-wrapper .bx-controls-direction a{z-index:99;}
.banner>.slider>div{position:relative;}
.banner_txt{position:absolute;left:50%;top:80px;transform:translateX(-50%);}
.banner_txt>p{font-weight:bold;font-size:36px;color:white;margin-bottom:40px;}
.banner_btn{width:170px;height:50px;background:white;}
.banner_btn:hover{background:#111;}
.banner_btn:hover>p{color:white;}
.banner_btn>p{font-weight:bold;color:#111;line-height:50px;}
.banner_btn>p:first-child{float:left;font-size:24px;margin-left:16px;}
.banner_btn>p:last-child{float:right;font-size:16px;margin-right:16px;}


.sec_cont{margin-bottom:50px;}
.sec_cont>.row>li{float:left;width:370px;margin:0 15px;}
.sec_cont h4{margin-bottom:20px;font-family:'Roboto';font-size:12px;color:#111;}
.sec_cont h5{margin-bottom:10px;font-size:20px;color:#111;line-height:30px;}
.sec_cont h5:hover{text-decoration:underline;}
.sec_cont p{font-size:13px;line-height:20px;color:#a9a9a9;}

.stock h4{margin-bottom:40px;}
.stock h5{font-size:40px;margin-bottom:30px;}
.stock h5:hover{text-decoration:none;}
.stock h5 span{color:red;font-size:30px;}

.content02 h4{box-sizing:border-box;height:200px;padding:15px;background-size:cover;background-position:center;}
#service{background-image:url('../images/service.jpg');}
#tech{background-image:url('../images/tech.jpg');}
#social{background-image:url('../images/social.png');}
.tech #tech{color:white;}
